<style type="text/css">
    #chapter ul {
        display: table;
        margin-right: auto;
        margin-left: auto;
    }
    #sidebar ul li span{
        line-height: 2rem;
        font-size: 1.1rem;
        color: var(--MENU-SECTIONS-LINK-color);
    }
    #sidebar li > span b {
        opacity: 0.5;
        font-weight: normal;
    }

    #footer {
        padding: 1rem 0rem;
        color: #b3b3b3;
        font-size: 13px;
    }
</style>
<link rel="stylesheet" type="text/css" href="/css/cookie-consent.css" />
